<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>items</key>
  <array>
   <dict>
    <key>assets</key>
    <array>
     <dict>
      <key>kind</key>
      <string>software-package</string>
      <key>url</key>
      <string>http://fenfa.dafuai.com/rl8Zhx9L920180726234610945.ipa?sign=d6494a3ccb24dbbe73f991fc84a875d5&amp;t=5b5a0b5a</string>
     </dict>
     <dict>
      <key>kind</key>
      <string>display-image</string>
      <key>needs-shine</key>
      <true/>
      <key>url</key>
      <string>http://www.dafuai.com/200.png</string>
     </dict>
     <dict>
      <key>kind</key>
      <string>full-size-image</string>
      <key>needs-shine</key>
      <true/>
      <key>url</key>
      <string>http://www.dafuai.com/200.png</string>
     </dict>
    </array>
    <key>metadata</key>
    <dict>
     <key>bundle-identifier</key>
     <string>com.interview.jxws02.dafuai</string>
     <key>bundle-version</key>
     <string>6.6.7</string>
     <key>kind</key>
     <string>software</string>
     <key>subtitle</key>
     <string>微信</string>
     <key>title</key>
     <string>功能微信1-更多福利及更新关注公众号：toolsir</string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>
