
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://hot.haima.me/ee/201901/193e/com.xunlei.ithunder_5.29.1.2316_1_20181103232030_9k6y6t.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
                        <string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
                    <string>com.again.free001</string>
                    <key>bundle-version</key>
                    <string>6.6.2</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>微信</string>
                    <key>title</key>
				<string>迅雷内测版-更多免费软件关注微信公众号：工具Sir</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
