<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://7xnusr.com1.z0.glb.clouddn.com/o_1dj35imn61cr9biv1emqtdmvqt7.ipa?e=1582256401&amp;token=8e4YkwOPAwrhUijy7FMfODl6WpNWmF9LiYknl5WH:l9bJl3tLStXpQ15KxErGWSktE34=</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<string>NO</string>
					<key>url</key>
					<string>http://7xnvqo.com1.z0.glb.clouddn.com/00c44d52a20c7636bb75793f17282a86</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<string>NO</string>
					<key>url</key>
					<string>http://7xnvqo.com1.z0.glb.clouddn.com/ec87fe61a80375b949448d6818da2659</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xunlei.iosthunder</string>
				<key>bundle-version</key>
				<string>6.03(6.03.1.7362)</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>【供应商SP 限制40000】</string>
				<key>title</key>
				<string>迅雷Beta-更多免费软件关注微信公众号：工具Sir</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
